body{background:whitesmoke; margin: 0;}

@font-face {
    font-family: Arista;
    src: url(Arista-Pro-Light-trial.ttf);
}

/* DIV DO CABEÇALHO - POSTERIOR A LINHA HR ( H1, BARRA DE PESQUISA E BOTÃO) */
    #initialHeader{
    width: 100vw; height: 11vh;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.2vh; 
    }
    #initialHeaderChild:hover{
        color: #2a2f86; 
    }
    #initialHeaderChild:active{
    text-decoration: none;
    }
    
    #initialHeaderChild {
        margin: 0 auto;
        font-family: Arista;
        color: #424794;
        font-size: 7vh;
        text-decoration: none;
        }

    #img{
        width: 2vw;
        height: 3vh;
        position: relative;
        left: 5px;
        fill: #424794;
        
    }

    
    .initialHeaderCousin {
        margin: 0 auto;
        font-size: 2.3vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        border: 1px solid; border-radius: 50px;
        color: rgb(48, 48, 155);
        width: 90px; height: 5vh;  
    }
    .initialHeaderCousin:hover{
        background-color: rgba(234, 234, 236, 0.719);
    }

    #search{
        width: 30vw;
        height: 5.5vh;
        border: 1px solid #424794;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #searchButton{
        border: none;
        text-align: center; font-size: 2.8vh;
        width: 85%; height: 80%;
    }

    #searchButton:focus{
        outline: none;
    }

    #contrast img{
        border: none;
        position: relative;
        right: 10vw;
        cursor: pointer;
    }
 
   



    /* QUEBRA LINHA - HR (E AS OPÇÕES DE TRABALHO DA TELA INICIAL) */
    #breakLine{
    border-color: whitesmoke; border-style: solid;
    width:100vw; top: 9.3vh; 
    position: absolute;
    }
     
    #secondHeader{
    background-color: #ffffff;      box-shadow: 0 5px 5px  #cecece;
    display: flex; justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    padding-bottom: 4px;
    
   }
   .optionsWork{
    background: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin: 0 auto;
    font-size: 2.6vh;
    color: rgba(0, 0, 0, 0.747);
    text-decoration: none;
   }

   .optionsWork:hover{
    color: rgba(0, 0, 0, 0.596);
   }
   
   .main{
    height: 70vh;
   }
   
   #descriptionSite{
    text-align: center;
    vertical-align: middle;
    display: table-cell; 
    height: 19vh; width: 20vw;
    
    top: 50%; left: 50%;
    transform: translate(50%,150%);
    border-radius: 30px; background: #ffff;
   }
   #descriptionSiteChild{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px; color:#524f4f; 
    margin: 0; 
   }

   footer{
    height: 23vh;
    width: 100%;
    background-color: #e7e8ed;
    border: 1px solid rgba(0, 0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   }

   #footerLink{
    text-decoration: none;
    margin-top: 4vh;
    margin-bottom: 3vh;
   }
   #footerLink a{
    text-decoration: none;
    margin-left: 10px;
    font-size: 3vh;
    color: #524f4f;
   }

   #footerIcon{
    text-decoration: none;
    font-family: Arista;
    font-size: 6vh;
   }
   #footerCopy{
    margin-top: 1.7vh;
    font-size: 2vh;
   }
   #dateCopy{
    color: #524f4f;
   }


